name: Docker

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}
  REGISTRY: ghcr.io

on:
  push:
    branches:
      - master
    tags:
      - "*"
    paths:
      - ".github/workflows/docker.yml"
      - "cmd/**"
      - "internal/**"
      - "pkg/**"
      - "ui/**"
      - "Dockerfile"
      - "Makefile"
      - "go.mod"
      - "go.sum"

  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/docker.yml"
      - "cmd/**"
      - "internal/**"
      - "pkg/**"
      - "ui/**"
      - "Dockerfile"
      - "Makefile"
      - "go.mod"
      - "go.sum"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Log into GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha,prefix=
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
